.wrapper {
  padding: 0 15px;
}
header {
  font-size: 1.2rem;
  padding: 1em 0;
  text-align: center;
  font-weight: 600;
}
.menu {
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1rem;

}
  .menu * {
    color: #000;
    text-decoration: none;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  .menu > li {
    list-style: none;
    display: inline-block;
  }
  .menu > li:after {
    content: "/";
    padding: 0 .5em;
  }
  .menu > li:last-child:after {
    content: "";
  }

@media (min-width: 500px) {
  .wrapper {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    font-size: 2rem;
    padding: 1.5em 0;
  }
  .menu {
    font-size: 1.2rem;
  }
}

@media (min-width: 1238px) {
  .wrapper {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
  }
}
